<h1>
    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
</h1>
    <strong>Please go to the following page and choose a new password:</strong> <br>
        {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        {% endblock %} <br>
    <strong>Your username, in case you've forgotten:</strong>
    <span>{{ user.get_username }}</span>

<p>Thanks for using our site!</p>
<i>The {{ site_name }} team</i>