<header>
    <div>
        <a href="{% url 'vacancies' %}">vacancies</a>
        <a href="{% url 'members' %}">members</a>
        <a href="{% url 'organizations' %}">organizations</a>
    </div>
    <br>
    {% if user.is_authenticated %}
        <div style="color: #993300">
            Welcome, {{ user.first_name }}
            {% if request.user.profile_pic %}
                <img src="{{ request.user.profile_pic.url }}" alt="" style="width: 60px; height: 60px">
            {% else %}
                |Img None|
            {% endif %}
            |
            <a href="{% url 'profile' user.username %}">My profile</a>
            | <a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
            <div>
                <a href="{% url 'user_organizations' %}">My organizations</a><br>
                <a href="{% url 'organization_add' %}">Add organization</a>
            </div>
        </div>
        <form action="{% url 'logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden">
        </form>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</header>