{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
    <h1>Change password</h1>
    {% include 'partials/_settings-links.html' %}
    
    <div style="display: flex; margin-top: 30px">
    <form action="{% url 'change_password' %}" method="POST">{% csrf_token %}
      <label for="current_password">Current password:</label>
      <input type="text" id="current_password" name="current_password" required><br><br>
      <label for="new_password">New password:</label>
      <input type="text" id="new_password" name="new_password"><br><br>
      <label for="confirm_password">Confirm new password</label>
      <input type="text" id="confirm_password" name="confirm_password"><br><br>
      <input class="btn btn-mdb-color" type="submit" value="Submit">
    </form>

    <form action="{% url 'change_email_url' %}" method="POST">{% csrf_token %}
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{ account_form.initial.email }}"><br><br>
      <label for="username">Url link</label>
      <input type="text" id="username" name="username" value="{{ account_form.initial.username }}"><br><br>
      <input class="btn btn-mdb-color" type="submit" value="Submit">
    </form>
    </div>
    <a class="btn btn-mdb-color" href="{% url 'reset_password' %}">Reset password</a>
{% endblock %}