{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
    <h1>Change password</h1>
    {% include 'partials/_alert.html' %}
    <form action="{% url 'change_password' %}" method="POST">{% csrf_token %}
      <label for="current_password">Current password:</label>
      <input type="text" id="current_password" name="current_password" required><br><br>
      <label for="new_password">New password:</label>
      <input type="text" id="new_password" name="new_password"><br><br>
      <label for="confirm_password">Confirm new password</label>
      <input type="text" id="confirm_password" name="confirm_password"><br><br>
      <label for="email">Email (Fill if you want to change Email)</label>
      <input type="text" id="email" name="email"><br><br>
      <input type="submit" value="Submit">
    </form>
{% endblock %}