{% extends 'base.html' %}
{% block title %}Vacancies{% endblock %}
{% block content %}
    <h1>My responses list</h1>
    {% include 'partials/_settings-links.html' %}
    {% if responses %}
        {% for response in responses %}
            <div style="border: 1px solid black; width: 250px; margin-bottom: 5px; padding: 10px">
                {% if response.vacancy.organization.organization_logo %}
                   <img src="{{ response.vacancy.organization.organization_logo.url }}" alt="" style="width: 30px">
                {% else %}
                   <p>no image</p>
                {% endif %}
                <p>Title: {{ response.vacancy.title }}</p>
                <p>Qualification: {{ response.vacancy.get_qualification_display }}</p>
                {% if  response.vacancy.salary %}
                    <p>Salary: {{ response.vacancy.salary }}</p>
                {% else %}
                    <p>Salary not displayed</p>
                {% endif %}
                {% if  response.vacancy.location %}
                    <p>location: {{ response.vacancy.location }}</p>
                {% endif %}
                <p>Work type: {{ response.vacancy.get_work_type_display }}</p>
                <p>sphere: {{ response.vacancy.get_sphere_display }}</p>
                {% if  response.vacancy.remote_work %}
                    <p>Remote work</p>
                {% endif %}
                <p>Your response date: {{ response.date_created }}</p>
                <p>Response status: {{ response.get_status_display }}</p>
                <a class="btn btn-mdb-color" href="{% url 'vacancy' response.vacancy.url %}">View vacancy</a>
            </div>
        {% endfor %}
        <div class="pagination" style="border: 1px solid black; width: 250px; margin-bottom: 5px; padding: 10px">
            <span class="step-links">
                {% if responses.has_previous %}
                    <a href="?p=1">&laquo; first</a>
                    <a href="?p={{ responses.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    | Page {{ responses.number }} of {{ responses.paginator.num_pages }} |
                </span>

                {% if responses.has_next %}
                    <a href="?p={{ responses.next_page_number }}">next</a>
                    <a href="?p={{ responses.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No responses for display</p>
    {% endif %}

{% endblock %}