{% extends 'base.html' %}
{% block title %}Edit organization{% endblock %}
{% block content %}
    <h1>organization edit</h1>
    
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        {% if skills.count < 12 %}
            {{ skillForm.as_p }}
        {% endif %}
      <input class="btn btn-mdb-color" type="submit" value="Submit">
    </form><br>
{#    <a class="btn btn-mdb-color" href="{% url 'vacancy_delete' vacancy_info.url %}" rel="modal:open">delete this vacancy</a>#}
<br><br>
{% endblock %}