{% extends 'base.html' %}
{% block title %}{{ organization_profile.organization_name }}{% endblock %}
{% block content %}
    <br><br><br>
    
    <form action="{% url 'organization_admin' actualOrganization.url %}" method="POST">{% csrf_token %}
       <select id="user" name="user">
           {% for user in users %}
                 <option value="{{user}}">{{user}}</option>
           {% endfor %}
        </select>
      <input class="btn btn-mdb-color" type="submit" value="Confirm">
    </form>

    {% for owner in owners %}
        <div style="border: dashed 1px black; width: 250px;  margin: 5px; text-align: center">
           <i>{{ owner.get_role_display }}</i>
           <p>{{ owner.user.first_name }} {{ owner.user.last_name }}</p>
           <p>{{ owner }}</p>
            <form action="{% url 'organization_admin_delete' actualOrganization.url %}" method="POST">{% csrf_token %}
              <input type="hidden" id="user" name="user" value="{{ owner }}">
              <input class="btn btn-mdb-color" type="submit" value="Delete">
            </form>
            <form action="{% url 'organization_admin_status_change' actualOrganization.url %}" method="POST">{% csrf_token %}
                <select id="role" name="role">
                       <option value="1" {% if owner.role == '1' %}selected{% endif %}>Moderator</option>
                       <option value="2" {% if owner.role == '2' %}selected{% endif %}>Administrator</option>
                </select>
                <input type="hidden" id="user" name="user" value="{{ owner }}">
              <input class="btn btn-mdb-color" type="submit" value="Change">
            </form>
        </div>
    {% endfor %}
{% endblock %}
