{% extends 'base.html' %}
{% block title %}Specialists{% endblock %}
{% block content %}
    <h1>My organizations</h1>
    {% if page_obj %}
        {% for organization in page_obj %}
            <div style="border: 1px solid black; width: 250px; margin-bottom: 5px; padding: 10px">
                {% if organization.organization_logo %}
                     <img src="{{ organization.organization_logo.url }}" alt="" style="width: 80px; height: 80px">
                {% else %}
                        <p>no img</p>
                {% endif %}
                <p>Organization: {{ organization.organization_name }}</p>
                <p>Website: {{ organization.organization_website }}</p>
                {% if  organization.organization_phone%}
                    <p>Phone: {{ organization.organization_phone }}</p>
                {% endif %}
                {% if  organization.organization_email%}
                    <p>Email: {{ organization.organization_email }}</p>
                {% endif %}
                <a href="{% url 'organization' organization.url %}">View</a>
                <a href="{% url 'organization_edit' organization.url %}">Edit</a>
                <a href="{% url 'organization_delete' organization.url %}">delete</a>
            </div>
        {% endfor %}
        <div class="pagination" style="border: 1px solid black; width: 250px; margin-bottom: 5px; padding: 10px">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?p=1">&laquo; first</a>
                    <a href="?p={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    | Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
                </span>

                {% if page_obj.has_next %}
                    <a href="?p={{ page_obj.next_page_number }}">next</a>
                    <a href="?p={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>You have not created organizations</p>
    {% endif %}

{% endblock %}